<a href="https://colab.research.google.com/github/JUudhhayKiirran/NIRF/blob/main/NIRF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 0.1 **Importing** the **libraries**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

0.2 Importing the **dataset**

In [ ]:
dataset = pd.read_excel('/content/NIRF_1-100_2022.xlsx')
dataset

,Name of the college,Rank,Score,Total student sanctioned,Total students enrolled,Secured_SS,Full time regular faculty,others,Adhoc Faculty,Secured_FSR,...,Number of Women,percentage.1,Secured_WD,Economically and Socially Challenged Students,students being provided full tuition fee rembursement,Secured_ECS,Facilities for Physically Challenged Students,Secured_PCS,Total_OI,Secured_PR
0,Miranda House,1,78.00,4349,5065,18.00,128,53,63,26.65,...,5065,100.000000,30.00,2627.00,226,1.69,0.8,20,77.07,81.58
1,Hindu,2,71.86,3442,4205,16.00,104,44,70,21.83,...,1654,39.334126,26.80,2828.00,1334,7.47,0.8,20,76.69,82.76
2,PSGR Krishnammal College for Women,6,70.68,8090,7712,17.16,395,0,61,30.00,...,7712,100.000000,30.00,7302.00,1684,9.41,0.8,20,64.34,68.21
3,Atma Ram Sanatan Dharm College,7,70.46,4150,4451,16.00,145,14,98,26.83,...,1742,39.137273,26.74,3629.00,1029,4.86,0.8,20,71.54,24.89
4,St. Xavier's College,8,69.54,8181,8038,17.24,379,2,1,25.24,...,3870,48.146305,28.84,4759.00,958,2.52,0.8,20,56.12,81.27
5,Ramakrishna Mission Vidyamandir,9,69.24,702,696,7.93,71,0,0,30.00,...,0,0.000000,0.00,483.00,199,8.18,0.8,20,29.30,44.23
6,St. Stephen's College,11,68.30,1380,1382,10.00,57,0,32,30.00,...,726,52.532562,30.00,239.00,106,1.91,0.6,14,69.74,93.75
7,Shri Ram College of Commerce,12,67.89,2325,2870,12.00,55,0,81,26.34,...,1519,52.926829,30.00,1428.00,1354,8.06,0.8,20,82.82,76.29
8,Hans Raj College,14,67.38,4973,6274,18.00,124,2,154,18.07,...,2486,39.623844,26.89,3360.00,1699,5.41,0.8,20,76.36,66.73
9,Lady Irwin College,16,66.25,1498,1484,9.91,40,0,66,30.00,...,1484,100.000000,30.00,695.00,59,0.42,0.8,20,61.15,39.14
10,Madras Christian College,17,65.72,7010,6647,17.07,320,3,2,16.02,...,3322,49.977433,29.09,5260.00,44,3.38,0.8,20,59.12,70.82
11,Acharya Narendra Dev College,18,65.46,2123,2035,9.77,71,20,56,30.00,...,682,33.513514,23.59,1567.00,48,0.49,0.6,14,57.30,35.21
12,PSG College of Arts and Science,20,64.56,13622,12741,18.56,504,0,56,22.13,...,6813,53.473040,28.87,12560.00,100,2.08,0.8,20,52.08,77.47
13,Thiagarajar College,22,63.59,3470,3705,14.71,330,16,0,24.99,...,1316,35.519568,30.00,3348.00,133,3.40,0.8,20,53.47,37.44
14,Gargi College,23,62.50,4857,5113,18.00,136,0,90,25.00,...,5113,100.000000,30.00,3016.00,214,0.73,0.8,20,72.81,40.77
15,"University College, Thiruvananthapuram",24,61.91,3238,3238,14.00,217,3,1,30.00,...,2075,64.082767,30.00,2575.00,0,5.50,0.8,20,55.71,19.92
16,Bhaskaracharya College of Applied Science,25,61.65,1472,1314,8.93,39,0,52,30.00,...,402,30.593607,23.19,761.00,71,0.96,0.6,14,52.21,15.76
17,Rajagiri College of Social Sciences,27,61.43,1490,1505,10.00,79,0,0,30.00,...,1011,67.176080,30.00,254.00,142,0.80,0.8,20,57.76,9.48
18,Daulat Ram College,29,60.93,4125,4736,16.00,65,0,123,22.80,...,4763,100.570101,30.00,2122.00,190,1.19,0.8,20,68.27,35.21
19,Kongunadu Arts and Science College,31,60.31,5414,4438,14.76,276,1,0,20.28,...,2523,56.849932,28.98,4301.00,11,2.12,0.8,20,51.70,22.48
20,Maitreyi College,34,59.50,3527,3424,17.40,84,34,84,27.95,...,3475,101.489486,25.66,1250.00,204,5.45,0.8,20,51.41,23.70
21,Dyal Singh College,35,59.45,5531,6123,18.00,142,39,99,23.62,...,2459,40.160052,27.05,2420.00,381,1.50,0.8,16,79.40,13.51
22,"St. Teresa's College, Ernakulam",37,58.62,3519,4011,16.00,203,0,0,29.77,...,4011,100.000000,30.00,3216.00,439,5.12,0.8,20,57.56,12.73
23,Kamala Nehru College,40,57.87,3358,3719,14.00,88,0,66,23.56,...,3719,100.000000,30.00,1421.00,1295,5.57,0.8,20,76.06,11.14
24,Ramanujan College,41,57.31,1199,3195,13.94,40,2,97,20.95,...,1442,45.133020,28.49,1382.00,297,2.97,0.8,20,70.04,7.75
25,Bishop Heber College,43,56.83,14154,12678,17.47,577,0,4,19.01,...,6053,47.744124,27.51,12525.00,309,1.34,0.8,20,49.33,48.43
26,Pachhunga University College,45,56.32,2670,2864,12.00,116,0,0,24.09,...,1559,54.434358,30.00,2726.00,2,6.65,0.6,14,50.72,5.01
27,Maharaja Agrasen College,48,55.76,2325,2345,12.00,63,0,57,30.00,...,1070,45.628998,28.69,1689.00,139,0.95,0.8,20,65.23,1.05
28,Jesus & Mary College,44,56.73,2275,3230,14.00,68,2,56,21.36,...,3230,100.000000,30.00,505.00,120,0.66,0.8,20,64.29,29.33
29,Shaheed Sukhdev College of Business Studies,51,55.39,1139,1221,14.00,32,0,13,21.13,...,368,30.139230,24.04,577.00,59,0.90,0.8,20,60.09,5.94
30,St. Xavier's College,52,55.33,2855,3282,14.00,90,0,3,16.64,...,1875,57.129799,30.00,843.00,20,0.86,0.8,20,54.26,22.48
31,Government College for Women,53,55.28,3033,2911,13.44,164,2,1,28.69,...,2911,100.000000,30.00,2069.00,0,5.38,0.8,20,55.61,11.94
32,Alagappa Government Arts College,54,55.18,3858,3663,13.29,89,0,82,23.64,...,2530,69.069069,30.00,3663.00,0,7.63,0.4,6,43.63,33.34
33,"M S Ramaiah College of Arts, Science, and Comm...",55,54.99,2790,2688,11.56,96,2,0,16.34,...,1380,51.339286,8.67,1452.00,293,2.62,0.8,20,61.13,81.42
34,Mar Athanasius College,56,54.94,2005,1877,11.23,101,0,9,11.11,...,1325,70.591369,30.00,1051.00,77,3.58,0.8,16,49.84,0.00
35,Sacred Heart College,59,54.79,4976,4460,10.78,206,0,0,27.86,...,1797,40.291480,30.00,4453.00,255,2.24,0.8,20,54.04,11.14
36,College of Social Work Nirmala Niketan,69,54.27,300,281,7.49,14,6,6,30.00,...,196,69.750890,30.00,99.00,4,3.11,0.8,20,60.74,5.94
37,Shivaji College,70,54.20,4214,3937,14.95,183,0,15,26.06,...,1386,35.204470,24.87,1755.00,219,1.12,0.8,20,60.27,1.05
38,"St. Joseph`s College, Devagiri",78,53.59,2697,2829,12.00,115,3,25,26.09,...,1837,64.934606,30.00,1874.00,111,3.10,0.8,20,54.18,10.31
39,"Jamal Mohamed College, Tiruchirappalli",79,53.51,12390,11124,17.96,0,0,0,25.33,...,4128,37.108954,25.00,10757.00,910,4.29,0.8,20,49.67,16.48
40,CMS College Kottayam,81,53.03,2816,2571,10.96,0,0,0,28.98,...,1716,66.744457,30.00,1704.00,140,3.43,0.8,20,53.62,12.73
41,Sacred Heart College,82,53.02,4976,4460,14.34,0,0,0,24.35,...,1797,40.291480,25.83,4453.00,255,4.77,0.8,20,51.06,15.02
42,Ayya Nadar Janaki Ammal College,83,52.94,5220,4503,15.53,0,0,0,23.80,...,2051,45.547413,26.79,4452.00,305,3.63,0.8,20,50.43,26.61
43,"Government Victoria College, Palakkad",85,52.78,2421,2421,12.00,166,0,6,26.52,...,1893,78.190830,30.00,2063.00,0,7.01,0.8,11,48.35,10.31
44,Lady Doak College,86,52.76,4948,4666,15.09,0,0,0,25.34,...,4666,100.000000,30.00,3320.00,208,0.92,0.8,12,43.13,26.16
45,Nesamony Memorial Christian College,91,52.43,3961,3620,12.79,171,0,14,26.05,...,2355,65.055249,30.00,3513.00,0,5.02,0.6,14,50.94,3.07
46,Andhra Loyola College,94,52.38,5476,5233,17.20,0,0,0,21.47,...,1826,34.893942,25.00,5233.00,155,3.24,0.8,20,48.93,42.34
47,"Women`s Christian College, Nagercoil",94,52.38,2594,2336,10.81,0,0,0,27.76,...,2336,100.000000,30.00,1411.00,216,4.08,0.8,20,54.43,7.75
48,Scott Christian College,96,52.34,3620,3093,11.96,176,1,0,28.01,...,1389,44.907856,26.51,29.22,33,3.89,0.8,20,51.00,6.85
49,Midnapore College,97,52.28,5633,5401,17.26,264,3,0,27.27,...,2544,47.102388,28.55,5105.00,1379,9.68,0.8,20,58.31,18.58
50,Mahatma Gandhi Government Arts College,99,52.16,948,834,7.04,59,1,10,30.00,...,607,72.781775,30.00,733.00,0,0.56,0.4,11,55.06,1.05

# 0.3 Check if any null **value**

In [ ]:
dataset.isna().sum()

Name of the college                                      0
Rank                                                     0
Score                                                    0
Total student sanctioned                                 0
Total students enrolled                                  0
Secured_SS                                               0
Full time regular faculty                                0
others                                                   0
Adhoc Faculty                                            0
Secured_FSR                                              0
Experience up to 8 years                                 0
Experience from 8 to 15 years                            0
Experience  >= 15 years                                  0
Faculty with PHD,Net and SET                             0
Secured_FQE                                              0
Annual Capital Expenditure per student                   0
Average Captial                                          0
Annual Operational Expenditure                           0
Average Expenditure                                      0
Total                                                    0
Secured_FRU                                              0
Total TLR(100)                                           0
PU(70)                                                   0
QP(30)                                                   0
TOTAL                                                    0
Number of graduating students(Placed)                    0
Number of graduating students(Higher studies)            0
Secured_GPH                                              0
Number of students passesd                               0
Secured_GUE                                              0
Median Salary                                            0
Secured_GMS                                              0
Total_GO                                                 0
Number of Students from Other States/Countries           0
percentage                                               0
Secured_RD                                               0
Number of Women                                          0
percentage.1                                             0
Secured_WD                                               0
Economically and Socially Challenged Students            0
students being provided full tuition fee rembursement    0
Secured_ECS                                              0
Facilities for Physically Challenged Students            0
Secured_PCS                                              0
Total_OI                                                 0
Secured_PR                                               0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 46 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Name of the college                                    51 non-null     object
 1   Rank                                                   51 non-null     int64
 2   Score                                                  51 non-null     float64
 3   Total student sanctioned                               51 non-null     int64
 4   Total students enrolled                                51 non-null     int64
 5   Secured_SS                                             51 non-null     float64
 6   Full time regular faculty                              51 non-null     int64
 7   others                                                 51 non-null     int64
 8   Adhoc Faculty                                          51 non-null     int64
 9   Secured_FSR                                            51 non-null     float64
 10  Experience up to 8 years                               51 non-null     int64
 11  Experience from 8 to 15 years                          51 non-null     int64
 12  Experience  >= 15 years                                51 non-null     int64
 13  Faculty with PHD,Net and SET                           51 non-null     int64
 14  Secured_FQE                                            51 non-null     float64
 15  Annual Capital Expenditure per student                 51 non-null     int64
 16  Average Captial                                        51 non-null     float64
 17  Annual Operational Expenditure                         51 non-null     int64
 18  Average Expenditure                                    51 non-null     float64
 19  Total                                                  51 non-null     float64
 20  Secured_FRU                                            51 non-null     float64
 21  Total TLR(100)                                         51 non-null     float64
 22  PU(70)                                                 51 non-null     float64
 23  QP(30)                                                 51 non-null     float64
 24  TOTAL                                                  51 non-null     float64
 25  Number of graduating students(Placed)                  51 non-null     int64
 26  Number of graduating students(Higher studies)          51 non-null     int64
 27  Secured_GPH                                            51 non-null     float64
 28  Number of students passesd                             51 non-null     int64
 29  Secured_GUE                                            51 non-null     float64
 30  Median Salary                                          51 non-null     int64
 31  Secured_GMS                                            51 non-null     float64
 32  Total_GO                                               51 non-null     float64
 33  Number of Students from Other States/Countries         51 non-null     int64
 34  percentage                                             51 non-null     float64
 35  Secured_RD                                             51 non-null     float64
 36  Number of Women                                        51 non-null     int64
 37  percentage.1                                           51 non-null     float64
 38  Secured_WD                                             51 non-null     float64
 39  Economically and Socially Challenged Students          51 non-null     float64
 40  students being provided full tuition fee rembursement  51 non-null     int64
 41  Secured_ECS                                            51 non-null     float64
 42  Facilities for Physically Challenged Students          51 non-null     float64
 43  Secured_PCS                                            51 non-null     int64
 44  Total_OI                                               51 non-null     float64
 45  Secured_PR                                             51 non-null     float64
dtypes: float64(25), int64(20), object(1)
memory usage: 18.5+ KB

# 0.4 Split into X & y

In [ ]:
#'Name of the college',
X = df=pd.DataFrame(dataset,columns=['Total student sanctioned','Total students enrolled','Secured_SS','Full time regular faculty','others','Adhoc Faculty','Secured_FSR','Experience up to 8 years','Experience from 8 to 15 years','Experience  >= 15 years','Faculty with PHD,Net and SET','Secured_FQE','Average Captial','Average Expenditure','Secured_FRU'])
X

,Total student sanctioned,Total students enrolled,Secured_SS,Full time regular faculty,others,Adhoc Faculty,Secured_FSR,Experience up to 8 years,Experience from 8 to 15 years,Experience >= 15 years,"Faculty with PHD,Net and SET",Secured_FQE,Average Captial,Average Expenditure,Secured_FRU
0,4349,5065,18.00,NaN,53,63,26.65,128,72,42,148,14.95,2.810226e+07,6.219523e+08,18.75
1,3442,4205,16.00,NaN,44,70,21.83,97,58,63,177,14.52,2.181043e+07,5.459461e+08,19.27
2,8090,7712,17.16,NaN,0,61,30.00,175,130,144,293,17.08,2.307336e+07,3.221887e+08,9.97
3,4150,4451,16.00,NaN,14,98,26.83,53,39,2,47,16.02,5.048610e+06,5.070864e+07,15.33
4,8181,8038,17.24,NaN,2,1,25.24,184,92,104,181,12.08,2.687485e+07,4.528419e+08,10.74
5,702,696,7.93,NaN,0,0,30.00,33,14,24,44,17.14,6.225593e+06,1.148470e+08,19.91
6,1380,1382,10.00,NaN,0,32,30.00,39,13,37,52,16.33,8.247466e+06,2.447026e+08,19.57
7,2325,2870,12.00,NaN,0,81,26.34,42,43,45,52,13.70,7.778972e+06,1.502409e+09,18.77
8,4973,6274,18.00,NaN,2,154,18.07,121,67,89,167,11.69,1.918809e+07,5.312334e+08,15.67
9,1498,1484,9.91,NaN,0,66,30.00,24,34,45,78,18.74,6.033599e+06,3.712800e+08,22.51
10,7010,6647,17.07,NaN,3,2,16.02,69,101,145,259,14.84,2.001116e+07,4.338830e+08,11.17
11,2123,2035,9.77,NaN,20,56,30.00,63,37,47,145,18.98,6.169408e+06,3.318659e+08,18.17
12,13622,12741,18.56,NaN,0,56,22.13,149,186,197,175,14.62,3.391670e+07,4.579499e+08,7.99
13,3470,3705,14.71,NaN,16,0,24.99,77,81,178,222,16.07,5.250785e+07,4.570313e+08,9.73
14,4857,5113,18.00,NaN,0,90,25.00,121,50,54,158,14.87,3.702377e+06,6.614792e+08,15.78
15,3238,3238,14.00,NaN,3,1,30.00,56,109,166,145,18.21,4.555823e+06,2.831730e+08,13.40
16,1472,1314,8.93,NaN,0,52,30.00,34,22,32,73,18.97,4.654807e+06,2.235301e+08,18.28
17,1490,1505,10.00,NaN,0,0,30.00,18,23,35,68,19.01,4.524038e+07,1.704267e+08,19.00
18,4125,4736,16.00,NaN,0,123,22.80,85,59,41,175,14.19,6.390899e+06,3.378767e+08,12.79
19,5414,4438,14.76,NaN,1,0,20.28,116,93,66,190,13.06,1.776838e+07,2.102358e+08,8.82
20,3527,3424,17.40,NaN,34,84,27.95,108,54,34,157,16.00,2.938945e+06,5.048010e+08,17.56
21,5531,6123,18.00,NaN,39,99,23.62,114,78,88,252,15.23,2.572231e+06,6.065480e+08,13.92
22,3519,4011,16.00,NaN,0,0,29.77,74,58,71,111,14.64,1.525475e+07,2.110769e+08,118.00
23,3358,3719,14.00,NaN,0,66,23.56,52,51,51,110,14.20,2.782606e+06,3.145059e+08,13.18
24,1199,3195,13.94,NaN,2,97,20.95,77,41,21,68,11.57,1.264399e+07,2.719682e+08,13.94
25,14154,12678,17.47,NaN,0,4,19.01,279,187,115,105,11.44,2.326354e+07,4.614558e+08,7.30
26,2670,2864,12.00,NaN,0,0,24.09,29,47,40,84,15.40,1.023968e+07,2.935220e+08,15.40
27,2325,2345,12.00,NaN,0,57,30.00,28,24,68,80,16.74,2.171687e+06,3.030695e+08,15.61
28,2275,3230,14.00,NaN,2,56,21.36,60,18,18,71,12.37,1.327110e+06,4.257978e+08,17.60
29,1139,1221,14.00,NaN,0,13,21.13,12,16,17,37,12.21,8.796785e+06,1.564178e+08,18.87
30,2855,3282,14.00,NaN,0,3,16.64,32,25,36,70,11.23,6.053015e+06,1.762065e+08,10.75
31,3033,2911,13.44,NaN,2,1,28.69,31,79,57,124,15.82,6.817574e+07,2.257668e+08,15.61
32,3858,3663,13.29,NaN,0,82,23.64,38,51,82,121,14.01,4.947147e+05,1.600474e+08,7.26
33,2790,2688,11.56,NaN,2,0,16.34,33,24,41,49,9.68,6.205247e+06,9.448937e+07,7.77
34,2005,1877,11.23,NaN,0,9,11.11,30,41,39,76,15.69,5.280281e+06,1.237376e+08,11.11
35,4976,4460,10.78,NaN,0,0,27.86,80,91,36,141,13.94,2.067524e+07,1.838190e+08,13.38
36,300,281,7.49,NaN,6,6,30.00,6,6,15,11,14.27,3.100589e+06,3.422769e+07,17.20
37,4214,3937,14.95,NaN,0,15,26.06,111,53,49,37,15.50,8.862632e+06,4.206200e+08,14.31
38,2697,2829,12.00,NaN,3,25,26.09,63,54,44,25,13.13,1.846298e+07,1.425307e+08,12.17
39,12390,11124,17.96,NaN,0,0,25.33,191,208,177,127,14.00,2.462689e+07,5.276426e+08,8.75
40,2816,2571,10.96,NaN,0,0,28.98,0,0,0,0,14.51,4.641033e+06,1.662047e+08,10.44
41,4976,4460,14.34,NaN,0,0,24.35,93,97,37,27,13.10,2.067524e+07,1.838190e+08,8.88
42,5220,4503,15.53,NaN,0,0,23.80,0,0,0,0,14.27,1.476433e+07,2.246039e+08,8.87
43,2421,2421,12.00,NaN,0,6,26.52,40,66,29,21,14.58,1.856364e+06,2.575981e+08,13.61
44,4948,4666,15.09,NaN,0,0,25.34,135,63,38,32,12.72,1.346648e+07,3.151500e+08,11.11
45,3961,3620,12.79,NaN,0,14,26.05,70,70,51,42,17.01,2.373197e+06,1.979590e+08,8.60
46,5476,5233,17.20,NaN,0,0,21.47,94,47,102,48,9.93,1.719757e+07,2.031099e+08,8.90
47,2594,2336,10.81,NaN,0,0,27.76,45,46,42,34,18.57,4.714043e+06,1.693083e+08,10.90
48,3620,3093,11.96,NaN,1,0,28.01,50,60,67,149,19.12,4.035523e+06,2.297541e+08,10.59
49,5633,5401,17.26,NaN,3,0,27.27,125,63,92,57,13.53,9.190507e+06,1.603411e+08,6.34
50,948,834,7.04,NaN,1,10,30.00,24,15,37,41,16.17,2.427287e+05,9.487605e+07,12.99

In [ ]:
y = dataset['Total TLR(100)']
y

0     78.35
1     71.62
2     74.21
3     74.18
4     65.30
5     74.98
6     75.90
7     70.81
8     63.43
9     81.16
10    59.10
11    76.92
12    63.30
13    65.50
14    73.65
15    75.61
16    76.18
17    78.00
18    65.78
19    56.92
20    78.91
21    71.07
22    72.21
23    64.94
24    60.40
25    55.20
26    67.31
27    74.35
28    65.33
29    62.21
30    52.71
31    73.56
32    58.20
33    45.35
34    67.36
35    65.96
36    68.96
37    70.82
38    63.39
39    66.04
40    64.89
41    60.67
42    62.47
43    66.71
44    64.26
45    64.45
46    57.50
47    68.04
48    69.68
49    64.40
50    66.20
Name: Total TLR(100), dtype: float64

# 0.6 Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 2509)

# 1. Training the Multiple Linear Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

ValueError: ignored